office: $office
hostname: $hostname
lan_cidrs: $lan_cidrs
jurisdiction: $jurisdiction
auth:
  ldap: $ldap
backup:
  target: $backup_target
alerts:
  smtp: $smtp
  recipients: $recipients
registry: $registry
