apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
  - name: GIDEON rows
    type: postgres
    uid: gideon-rows
    access: proxy
    url: postgres:5432
    database: gideon
    user: gideon_ro_metrics
    editable: false
    jsonData:
      sslmode: disable
    secureJsonData:
      password: "$$__file{/run/secrets/postgres_gideon_ro_metrics_password}"
