[[servers]]
host = $ldap_host
port = $ldap_port
use_ssl = true
start_tls = false
ssl_skip_verify = false
root_ca_cert = "/etc/gideon/ca.pem"
bind_dn = $bind_identity
bind_password = '$$__file{/run/secrets/ldap_bind_password}'
search_filter = "(sAMAccountName=%s)"
search_base_dns = [$search_base]

[servers.attributes]
username = "sAMAccountName"
email = "userPrincipalName"
member_of = "memberOf"

[[servers.group_mappings]]
group_dn = $admins_group_dn
org_role = "Admin"
grafana_admin = true
