apiVersion: 1
providers:
  - name: GIDEON
    orgId: 1
    folder: GIDEON
    type: file
    disableDeletion: false
    editable: false
    allowUiUpdates: false
    updateIntervalSeconds: 5
    options:
      path: $dashboards_mount
      foldersFromFilesStructure: false
